.body {
    font-family:'Open Sans', sans-serif;
    background-color: #D0D0D0;
}

.titlebar {
    position: relative;
    width: 100%;
    height: 15%;
    background-color: #D0D0D0;
    padding-bottom: 20px;
    padding-top: 20px;
}

#emblem {
    width: auto;
    height: 100%;
    position: relative;
    float: left;
    padding-left: 20px;
}

#title{
    float: left;
    top: 50%;
    transform: translate(0, -50%);
    position: absolute;
    padding-left: 20px; 
}

#official{
    color: white;
    font-size: 30px;
}

#teamname{
    color: black;
    font-weight: 800;
    font-size: 30px;
}

#bible{
    float: right;
    padding-right: 20px;
}

#verse{
    text-align: right;
}

#ref{
    text-align: right;
    font-style: italic;
    font-weight: 700;
}

.navbar {
    position: relative;
    width: 100%;
    height: 80px;
    z-index: 1;
    background: rgb(255, 230, 0);
}

.navbar > span{
    top:50%;
    transform: translate(0, -50%);
    position: absolute;
}

.navbar > span > a{
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 900;
    padding: 30px;
    font-size: 30px;
}

.navbar > span > a:hover{
    color: black;
}

.wrapper {
    margin-left: 400px;
    margin-right: 400px;
    max-width: 100%;
    min-width: 960px;
    background-color: #D0D0D0;
}

.general{
    width: 100%;
    padding-top: 20px;
}

#overview{
    width: 100%;
    padding: 20px;
    background-color: black;
}

#heading{
    float: left;
    font-weight: 800;
    font-size: 40px;
    padding-bottom: 20px;
}

#row{
    width: 100%;
}

#profile{
    width: 33%;
    padding: 20px;
}

#pic{
    width: 100%;
    height: auto;
}

#text{
    position: absolute;
}

#stuff{
    background-color: red;
    opacity: 0;
}

#profile:hover{
    opacity: 0.8;
}

#name{
    text-align: center;
    padding-top: 10px;
    color: rgb(255, 230, 0);
    font-weight: 800;
    font-size: 30px;
}

